.container{
    margin: auto;
    width: 600px;
    background-color: rgb(163, 255, 224);
    
}

.container2{
    display: flex;
}

.button{
    text-align: center;
    margin-top: 20px;
}

.name input{
    width: 250px;
    height: 35px;
}

.address select{
    width: 258px;
    height: 35px;
}

.mail input{
    width: 250px;
    height: 35px;
}


.street1 {
    width: 250px;
    height: 30px;
}

.select option{
    width: 250px;
    height: 30px;
}

.row2{
    display: flex;
    
}

.row2 div{
    width: 46.5%;
}

.street{
    width: 90%;
    height: 30px;
}

.send{
    background-color: green;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

h3{
    color: rgb(1, 173, 1);
}

legend{
    color: green;
    font-size: 30px;
}