body{
    background-color:antiquewhite ;
}
#div1{
    color: black;
    width: 200px;
    border: 5px solid black;
    margin: 20px
}

#box1{
    margin: 20px;
    border: 5px solid black;
    padding: 50px;
    background-size: 100% 100%;
    background-image: url(../img/bear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
}

#box2{
    margin: 20px;
    border: 5px solid black;
    padding: 50px;
    background-size: 30px;
    background-image: url(../img/galaxy.jpg);
    color: aliceblue;
    background-repeat: repeat;
}