body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
}

.header {
    border: 3px solid black;
    text-align: center;
}

h2 {
    font-size: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 95px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        margin-left: -7px;
    }
}

/* -- */
.container2 {
    background-color: #222831;
    display: flex;
    justify-content: space-around;
}

.photo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.photo img {
    border-radius: 204px;
}

.text {
    text-align: left;
    padding-top: 60px;
}

#name {
    font-size: 20px;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
    margin-bottom: 0;
}

#personal {
    font-size: 45px;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

#website {
    margin-top: 0px;
    font-size: 60px;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
    margin-bottom: 0;
}

#newbies {
    color: #EF6D58;
    font-size: 35px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 5px;
}

@media screen and (max-width: 700px) {
    .container2 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .photo {
        display: block;
        flex-direction: column;
        order: 1;
        margin-bottom: 0;
    }

    .text {
        display: block;
        flex-direction: column;
        order: 2;
        text-align: center;
        margin-top: -100px;
    }
}

/* --- */
.container3 {
    background-color: #FDF0E9;
}

.subtitle h2 {
    text-align: center;
    font-size: 40px;
    color: #5C2000;
    font-family: 'Epilogue', sans-serif;
    margin-top: 25px;
    margin-left: 31%;
}

.title p {
    text-align: center;
    font-size: 16px;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
    padding-top: 30px;
    margin-bottom: 0;
}

.subtitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subtitle a {
    color: black;
    background-color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Epilogue', sans-serif;
}

.image {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.image img {
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .container3 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .subtitle {
        display: block;
        flex-direction: column;
        order: 2;

    }

    .subtitle h2 {
        margin-left: -2px;
        margin-bottom: 20px;
    }

    .subtitle a {
        margin-bottom: 15px;
    }

    .image {
        display: block;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .badminton {
        display: block;
        flex-direction: column;
        order: 3;
        margin-bottom: 50px;
        width: 95%;
        margin: auto;
    }

    .football {
        display: block;
        flex-direction: column;
        order: 4;
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }
}

/* ---- */
.container4 {
    background-color: #222831;
}

.subtitle1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subtitle1 a {
    color: black;
    background-color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Epilogue', sans-serif;
}

.subtitle1 h2 {
    font-size: 40px;
    color: white;
    font-family: 'Epilogue', sans-serif;
    margin-top: 25px;
    margin-left: 23%;
}

@media screen and (max-width: 700px) {
    .subtitle1 {

        flex-direction: column;
        order: 1;
    }

    .subtitle1 h2 {
        margin-left: -2px;
        margin-bottom: 20px;
    }

    .subtitle1 a {
        margin-bottom: 15px;
    }

    .image1 {
        display: block;
        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
        order: 2;
        width: 44%;
    }

}

.image1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.image1 img {
    border-radius: 20px;
}

/* ----- */
.container5 {
    background-color: #FDF0E9;
}

.title1 {
    text-align: center;
    font-size: 16px;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
    padding-top: 20px;
    margin-bottom: 0;
}

.title1 h2 {
    text-align: center;
    font-size: 40px;
    color: #5C2000;
    font-family: 'Epilogue', sans-serif;
    margin-top: 25px;
}

.image2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.image2 img {
    border-radius: 20px;
}

.image3 {
    text-align: center;
}

.image3 img {
    border-radius: 20px;
}

.leename{
    justify-content: center;
}

#datuk{
    font-size: 30px;
    text-align: center;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
}

.button{
    text-align: center;
    padding-bottom: 25px;
}

.button a{
    color: black;
    background-color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'Epilogue', sans-serif;
}

@media screen and (max-width: 700px){
    .container5{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .image2{
        display: block;
        flex-direction: column;
    }

    #lee {
        display: block;
        flex-direction: column;
        order: 1;
        margin: auto;
        width: 100%;
    }

    #net {
        display: block;
        flex-direction: column;
        order: 2;
        margin: auto;
        margin-top: 15px;
        width: 100%;
    }
}

/* ------ */
.container6{
    background-color: #222831;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.form{
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 40%;
    height: 52%;
}

.form input {
    width: 97%;
    height: 35px;
}

.form select {
    width: 99%;
    height: 35px;
}

.message {
    margin-top: 18px;
}

.submit {
    font-size: 20px;
    margin-top: 10px;
    text-align: end;
}

.submit a {
    color: white;
    background-color: #EF6D58;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#contact {
    font-size: 16px;
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
    margin-bottom: 0;
}
#contacts {
    color: white;
    font-size: 56px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 15px;
    margin-bottom: 0;
}

.detail .text {
    margin-top: -8px;
    color: white;
    padding: 20px;
    font-family: 'Epilogue', sans-serif;
}

.map {
    margin-top: 20px;
    display: flex;
    height: 30px;
}

.map img {
    background-color: #EF6D58;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.handphone {
    margin-top: 30px;
    display: flex;
    height: 30px;
    
}

.handphone img {
    background-color: #EF6D58;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.mail {
    margin-top: 30px;
    display: flex;
    height: 30px;
}

.mail img {
    background-color: #EF6D58;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

@media screen and (max-width: 700px){
    .container6{
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }

    .form{
        margin-left: 17%;
        justify-content: space-between;
        width: 60%;
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;

    }
    .submit {
        text-align: end;
        font-size: 20px;
        margin-top: 10px;
        
    }
    #get{
        text-align: left;
    }
    .detail{
        margin-left: 20%;
        
    }
}

/* ------- */
.footer{
    background-color: #FDF0E9;
    padding: 50px;
}

.column {
    display: flex;
    flex: 1;
    justify-content: space-around;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid black;
}

.column a{
    color: black;
    padding: 14px 16px;
    font-size: 17px;
    align-items: center;
    text-decoration: none;
}

.social{
    padding-bottom: 4%;
}

.copy{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.term{
    display: flex;
}

@media screen and (max-width: 700px){
    .column{
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .copy{
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .term{
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
}