/* -- */
.container2 {
    background-color: #222831;
    display: flex;
    justify-content: space-around;
}

.photo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.photo img {
    border-radius: 204px;
}

.text {
    text-align: left;
    padding-top: 60px;
}

#names {
    font-size: 20px;
    color: #EF6D58;
    margin-bottom: 0;
}

#personal {
    font-size: 45px;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

#website {
    margin-top: 0px;
    font-size: 60px;
    color: white;
    margin-bottom: 0;
}

#newbies {
    color: rgba(255, 255, 255, 0.64);
    font-size: 35px;
    margin-top: 5px;
}

@media screen and (max-width: 700px) {
    .container2 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .photo {
        display: block;
        flex-direction: column;
        order: 1;
        margin-bottom: 0;
    }

    .text {
        display: block;
        flex-direction: column;
        order: 2;
        text-align: center;
        margin-top: -100px;
    }
}

/* --- */
.container3 {
    background-color: #FDF0E9;
}

.subtitle h2 {
    text-align: center;
    font-size: 40px;
    color: #5C2000;
    margin-top: 25px;
    margin-left: 31%;
}

.title p {
    text-align: center;
    font-size: 16px;
    color: #EF6D58;
    padding-top: 30px;
    margin-bottom: 0;
}

.subtitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subtitle a {
    color: black;
    background-color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}

.image {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.image img {
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .container3 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .subtitle {
        display: block;
        flex-direction: column;
        order: 2;

    }

    .subtitle h2 {
        margin-left: -2px;
        margin-bottom: 20px;
    }

    .subtitle a {
        margin-bottom: 15px;
    }

    .image {
        display: block;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .badminton {
        display: block;
        flex-direction: column;
        order: 3;
        width: 95%;
        margin: auto;
    }

    .football {
        display: block;
        flex-direction: column;
        order: 4;
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }
}

/* ---- */
.container4 {
    background-color: #222831;
}

.subtitle1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subtitle1 a {
    color: black;
    background-color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}

.subtitle1 h2 {
    font-size: 40px;
    color: white;
    margin-top: 25px;
    margin-left: 23%;
}

@media screen and (max-width: 700px) {
    .subtitle1 {
        flex-direction: column;
        order: 1;
    }

    .subtitle1 h2 {
        margin-left: -2px;
        margin-bottom: 20px;
    }

    .subtitle1 a {
        margin-bottom: 15px;
    }

    .image1 {
        display: block;
        flex-direction: column;
    }

    #man{
        display: block;
        flex-direction: column;
        order: 1;
        margin: auto;
        width: 95%;
    }
    #laptop{
        display: block;
        flex-direction: column;
        order: 2;
        margin: auto;
        width: 95%;
    }
}

.image1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.image1 img {
    border-radius: 20px;
}

/* ----- */
.container5 {
    background-color: #FDF0E9;
}

.title1 {
    text-align: center;
    font-size: 16px;
    color: #EF6D58;
    padding-top: 20px;
    margin-bottom: 0;
}

.title1 h2 {
    text-align: center;
    font-size: 40px;
    color: #5C2000;
    margin-top: 25px;
}

.image2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.image2 img {
    border-radius: 20px;
}

.image3 {
    text-align: center;
}

.image3 img {
    border-radius: 20px;
}

.leename{
    justify-content: center;
}

#datuk{
    font-size: 30px;
    text-align: center;
    color: #EF6D58;
}

.button{
    text-align: center;
    padding-bottom: 25px;
}

.button a{
    color: black;
    background-color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

@media screen and (max-width: 700px){
    .container5{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .image2{
        display: block;
        flex-direction: column;
    }

    #lee {
        display: block;
        flex-direction: column;
        order: 1;
        margin: auto;
        width: 95%;
    }

    #net {
        display: block;
        flex-direction: column;
        order: 2;
        margin: auto;
        margin-top: 15px;
        width: 95%;
    }
}