h1{
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 30px;
}

.div1{
    display: flex;
}

.div1 div{
    flex: 1;
}

#div2{
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    border-top: 7px solid black;
    width: 50px;
    margin-top:80px;
    margin-bottom: 60px;
    height: 400px;
    margin-right: 250px;
}

#pic1{
    background-image: url(.././/img/table.png);
    margin-top: -10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 50px;
}