.item1 { grid-area: logo; }
.item2 { grid-area: menu; }
.item3 { grid-area: imageslideshow; }
.item4 { grid-area: feat1; }
.item5 { grid-area: feat2; }
.item6 { grid-area: feat3; }
.item7 { grid-area: sidebar; }
.item8 { grid-area: textcontent; }
.item9 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo logo menu menu menu menu'
    'imageslideshow imageslideshow imageslideshow imageslideshow imageslideshow imageslideshow'
    'feat1 feat1 feat2 feat2 feat3 feat3'
    'sidebar sidebar textcontent textcontent textcontent textcontent'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  max-width: 1024px;
  margin: auto;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

a:link{
    text-decoration: none;
    color: black;
    text-align: center;
}

.item2 {
    display: flex;
    justify-content: center;

}

.item2 a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item2 a:hover {
    background-color: #ddd;
    color: black;
}

.item7 {
    background-color: #333;
    width: 100%;
    display: grid;
  }
  
  .item7 a {
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  .item7 a:hover {
    background-color: #ddd;
    color: black;
  }