#container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: auto;
}

.header {
    border: 3px solid black;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

#name1 {
    margin-top: 3px;
}

.topnav {
    display: flex;
    background-color: #333;
    justify-content: space-between;

}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#navlink {
    display: flex;
    align-items: center;
}

#navlink a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navlink a:hover {
    background-color: #ddd;
    color: black;
}

#social {
    display: flex;
}

/* Row */
.row {
    display: flex;
    justify-content: center;
}
.row2{
    display: flex;
    justify-content: center;
}
.row3{
    display: flex;
    justify-content: center;
}
.footer{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #f1f1f1;
}

/* Column */
.column {
    width: 33.33%;
    justify-content: center;
    text-align: center;
}

#column1 {
    width: 41%;
    justify-content: center;
    text-align: center;
}

.column2{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.column3{
    width: 100%;
    text-align: center;
    justify-content: center;
}



/* Responsive layout - makes the three */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
    #column1 {
        width: 100%;
}

@media screen and (max-width: 768px) {
    .row2 {
        flex-direction: column;
    }
    .column2 {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .row3{
        flex-direction: column;
    }
    .column3 {
      width: 100%;
    }
  }
}